<!--Head-->
<%- include("partials/head") %>
<body>
    <!--Header-->
    <%- include("partials/header") %>
    <h1><center>Eror 404</center> </h1>
    <div class="e404">
    <h2>Parece que la Pagina a la que quiere acceder no existe!</h2>
    <a href="/">Volver</a>
    </div>
    
    <!--Footer-->
    <%- include("partials/footer") %>
</body>
</html>