<!--Head-->
<%- include("partials/head") %>
<body>
    <!--Header-->
    <%- include("partials/header") %>
<h1>Acerca de mí</h1>
    <section class="sobre-mi">
        <h2>Aguirre Anibal Fabian</h2>
        <h3>Fumador con mas de 20 años de experiencia</h3>
        <img src="img/anibal.jpg" alt="Anibal Aguirre" title="Aguirre Anibal-Maestro Fumador">
    
    <p>Soy un entusiasta fumador de cannabis con una gran pasión por el cannabis. Siempre me ha encantado disfrutar de los beneficios de este increíble producto natural. Después de muchos años de experimentación con diferentes variedades de cannabis y de fumar de maneras diferentes, he decidido abrir mi propia tienda online para ayudar a otros a disfrutar también de esta maravillosa planta.
        <br>
        Mi tienda online ofrece una amplia selección de productos de cannabis, desde flores a aceites, pasando por diferentes artículos relacionados con el tema, como equipos para vaporizar, refrigeradores, etc. Asimismo, mi tienda cuenta con una sección de información para los fumadores principiantes, en la que se proporciona información útil acerca de los efectos del cannabis, cómo usarlo de forma segura, las leyes relacionadas con el uso del cannabis, etc.
        <br>
        <mark>Además de esto, también ofrezco consejos a los consumidores de cannabis para que puedan disfrutar de los mejores beneficios de esta planta de la manera más segura posible.</mark> 
        <br>
        En mi tienda online, me esfuerzo por ofrecer siempre la mejor calidad a los mejores precios, y procuro mantenerme al día en cuanto a las últimas novedades en el mundo del cannabis.
        <br>
        Estoy muy orgulloso de mi tienda online y me gustaría invitar a todos los amantes del cannabis a que la visiten y descubran todos los productos y servicios que tengo para ofrecer. ¡Estoy seguro de que aquí encontrarás todo lo que necesitas para disfrutar al máximo de esta maravillosa planta!</p>
    </section>
    <!--Footer-->
<%- include("partials/footer") %>
</body>
</html>