<!--Head-->
<%- include("partials/head") %>
<body>
    <!--Header-->
    <%- include("partials/header") %>
<section>

    <div class="fondo">
        
       
    </div>
</section>
<!--Footer-->
<%- include("partials/footer") %>
</body>
</html>