<footer>
    <h2>Siguenos en Nuestras Redes!!!</h2>
    <div class="social">
        
    <ul >
        
        <li><a href=""><span class="icon-facebook"></span></a></li>
        <li><a href=""><span class="icon-instagram"></span></a></li>
        <li><a href=""><span class="icon-twitter"></span></a></li>
    </ul>
    </div>
    <p>©2022-Aguirre Anibal Fabian - Todos los Derechos Reservados</p>
</footer>