<header>
    <div class="cuenta">
        <ul>
            <li><a href="#"class="enlace icon-whatsapp">3884666777</a></li>
        </ul>
        <ul > 
        <li><a href="#" class="enlace icon-facebook"></a>   ◉</li>
        <li><a href="#"class="enlace icon-instagram"></a>   ◉</li>
        <li><a href="#"class="enlace icon-twitter"></a></li>
        </ul>
        <ul>
            <li><a href="#"class="enlace icon-user-outline">Mi cuenta</a>   /</li>
            <li> <a href="#"class="enlace">Registrarme</a></li>
        </ul>
</div>
<div class="header">


    <div class="logo">
        <a href="/"><img src="/img/cannabis.png" alt="" ></a>
        <h1 class="tituloLogo">cannabis libre</h1>
    </div>
        <div class="buscar">
        <form action="/products/filter" method="GET">
            <input type="text" placeholder="Buscar Producto" name="search">
            <button type="submit"><span class="icon-search"></span></button>
        </form>
        </div>
    
        <ul class="controlCarrito">

            <li> <a href="#" class="icon-shopping-cart enlace">$00,00</a></li>   
        </ul>
    </div>
    <nav>
    <ul class="menu">
        <li><a href="/">Inicio</a> </li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/products/add">Agregar Producto</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/about">Acerca de mí</a> </li>
     
    </ul>
    </nav>

</header>