<header>
    <div class="logo">
        <img src="/img/cannabis-logo.png" alt="">
        <img src="/img/cannabis-libre.png" alt="">
    </div>
   
    <nav>
    <ul>
        <li><a href="about">Acerca de mí</a> </li>
        <li><a href="contact">Contacto</a></li>
        <li><a href="carga-de-productos.html">Alta de Productos</a></li>
        <li><a href="products">Productos</a></li>
        <li><a href="/">Inicio</a> </li>
    </ul>
    </nav>
</header>