<header>
    <div class="logo">
        <a href="/"><img src="/img/cannabis.png" alt="" class="logo1"></a>
        <h1 class="tituloLogo">cannabis libre</h1>
        
    </div>
        <div class="buscar">
        <form action="/products/filter/" method="get">
            <input type="text" placeholder="Buscar">
            <button type="submit"><span class="icon-search"></span></button>
        </form>
        </div>
    <nav>
        <ul class="sesion">

            <li> <a href="#">Carrito <span class="icon-shopping-cart"></span> </a></li>
            <li> <a href="#">Registrarse</a></li>
            <li> <a href="#">Iniciar sesion</a> </li>
            
            
        </ul>
    <ul class="menu">
        <li><a href="/about">Acerca de mí</a> </li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/products/add">Agregar Producto</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/">Inicio</a> </li>
    </ul>
    </nav>
</header>